* {
    font: "JetBrainsMono Nerd Font 12";

    background:     #2a2a2e;
    background-alt: #d7ded4;

    foreground:     #121a14;
    muted:          #3f4a3c;

    accent:         #7ea55b;
    accent-dark:    #3f6b3f;

    border:         #7ea55b;
}

window {
    location: center;
    anchor: center;
    width: 520px;

    border: 2px;
    border-color: @border;

    border-radius: 10px;

    background-color: @background;
}

mainbox {
    spacing: 12px;
    padding: 18px;
}

inputbar {
    background-color: @background-alt;
    padding: 8px;
    border-radius: 6px;
}

prompt {
    text-color: @accent;
}

entry {
    text-color: @foreground;
}

listview {
    lines: 10;
    spacing: 6px;
    scrollbar: false;
}

element {
    padding: 8px;
    border-radius: 6px;
}

element-text {
    text-color: @foreground;
}

element selected {
    background-color: @accent;
    text-color: #000000;
}
